
.impowerBox .qrcode {
  margin-top: 60px;
  width: 200px;
}

.impowerBox .title {
  display: none;
}

.impowerBox .info {
  width: 200px;
  color: #fff;
}

.status_icon {
  displayï¼šnone;
}

.impowerBox .status {
  text-align: center;
}
